@{
    ViewData["Title"] = "Adatvédelmi Nyilatkozat";
}
<h1 class="mt-5">@ViewData["Title"]</h1>

<p>
    Az <strong>Autókereskedés</strong> elkötelezett a felhasználói személyes adatok védelme mellett. Az alábbi nyilatkozat ismerteti, hogyan gyűjtjük, használjuk és védjük az Ön személyes adatait.
</p>
